include README.md
include TECHNICAL_GUIDE.md
include license.txt
include pyproject.toml
recursive-include erpnext_taxes_tn *.py
recursive-include erpnext_taxes_tn *.json
recursive-include erpnext_taxes_tn *.md
